#bodyWrapper,
#topNaviMargin,
#footWrapper{
	display: none;
}
.browser-security{
	border:5px solid #cccccc;
	padding:20px;
	margin: 300px auto 20px;
	width:500px;
	background-color: #fcf8e3;
	line-height:250%;
}
.browser-security a{
	color: red;
	text-decoration: underline;
}

.minH100 {min-height : 100px;}
.H130 {height : 130px;}
